In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('car.csv')

In [3]:
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Speed       6 non-null      int64
 1   Car_age     6 non-null      int64
 2   Experience  5 non-null      float64
 3   Risk        6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 320.0 bytes

In [6]:
df.describe().round(2)

        Speed  Car_age  Experience   Risk
count    6.00     6.00        5.00   6.00
mean   136.67    11.83        6.60  58.33
std     40.46     7.03        4.04  35.44
min     90.00     2.00        3.00  10.00
25%    111.25     6.75        4.00  30.00
50%    127.50    13.50        5.00  71.00
75%    158.75    16.50        8.00  84.25
max    200.00    20.00       13.00  93.00

In [8]:
df.shape

(6, 4)

<h1>Linear Regression Equation</h1>
*y=mx+c*
<br>
**When multiple columns**
Risk=m*speed+m*car_age+m*Experience+c

In [9]:
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

<h1>Null Value Handilng </h1>

In [10]:
df['Experience']

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: Experience, dtype: float64

In [11]:
## Amra null value handeling korte pari mean or median ber kore jei value ta ashbe ta missing jaygay
##boshiye diye..so.lets go

In [13]:
missing_value=df['Experience'].median()

In [14]:
missing_value

5.0

In [16]:
##ekhn amra missing value ta boshiye dibo fillna() use kore

df["Experience"]=df["Experience"].fillna(missing_value)

In [17]:
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

<h2>Train The Model </h2>

In [18]:
## Create Linear Regression object
lg=LinearRegression()

In [20]:
lg
df

   Speed  Car_age  Experience  Risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [21]:
## now use fit to to train the model
lg.fit(df[['Speed','Car_age','Experience']],df.Risk)

LinearRegression()

<h2>Now Predict the Risk according to Speed ,Car age and Experience </h2>

In [26]:
risk_analysis=lg.predict([[160,10,5]]).round(2)

In [31]:
print("The Car Accident Risk is" ,risk_analysis, '%')

The Car Accident Risk is [71.37] %

In [24]:
## So the risk is 71.37%

In [32]:
#Now we need to find coefficent m to check the value manually  
#Risk=m*Speed+m*Car_age+m*Experience+c

In [34]:
lg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [35]:
##Now find intercept c

lg.intercept_

33.41000091043589

In [36]:
##Now Manulayy Calculate
160* 0.33059217+10* 1.61053246-6.20772074*5+33.41000091043589

71.3714690104359

In [37]:
#Yooooo predict is good